body {
    background: url(assets/StockSnap_HTZCYUGSPW.jpg) no-repeat center;
    font-family: 'Bitter', serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    height: 10vh;
}

#highscore {
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: "none";
    color: rgb(95, 77, 58);

}

#timer {
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Bitter', serif;

}

.container {
    text-align: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choicesbox {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

#userscore {
    font-size: 30px;
}

.scorecontainer {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

button {
    background-color: white;
    border: solid #DF8000;
    padding: 5px;
    margin: 1px;
}

#scoreheader {
    font-size: 50px;
}

#scorebox {
    background-color: rgba(133, 107, 80, 0.692);
}

li {
    font-size: 15px;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: x-large;
    }
}

@media only screen and (max-width: 600px) {
    #timer {
        font-size: 20px
    }

    #highscore {
        font-size: 20px
    }

    #scoreheader {
        font-size: 30px;
    }

    li {
        font-size: 15px;
    }

    .scorecontainer {
        margin-left: 5%;
        margin-right: 5%;
    }
}